USE [master]
GO
/****** Object:  Database [VENDAS SUCOS]    Script Date: 05/06/2023 15:24:45 ******/
CREATE DATABASE [VENDAS SUCOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VENDAS SUCOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VENDAS SUCOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VENDAS SUCOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VENDAS SUCOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VENDAS SUCOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VENDAS SUCOS]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CPF] [varchar](11) NOT NULL,
	[NOME] [varchar](100) NULL,
	[ENDERECO] [varchar](100) NULL,
	[BAIRRO] [varchar](50) NULL,
	[CIDADE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[CEP] [varchar](8) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[IDADE] [int] NULL,
	[GENERO] [varchar](1) NULL,
	[LIMITE_CREDITO] [float] NULL,
	[VOLUME_COMPRA] [float] NULL,
	[PRIMEIRA COMPRA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[CODIGO] [varchar](10) NOT NULL,
	[DESCRITOR] [varchar](100) NULL,
	[SABOR] [varchar](50) NULL,
	[TAMANHO] [varchar](50) NULL,
	[EMBALAGEM] [varchar](50) NULL,
	[PRECO_LISTA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS_2]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS_2](
	[CODIGO] [varchar](10) NOT NULL,
	[DESCRITOR] [varchar](100) NULL,
	[SABOR] [varchar](50) NULL,
	[TAMANHO] [varchar](50) NULL,
	[EMBALAGEM] [varchar](50) NULL,
	[PRECO_LISTA] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAB_CHECK]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_CHECK](
	[ID] [int] NOT NULL,
	[NOME] [varchar](50) NULL,
	[IDADE] [int] NULL,
	[CIDADE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAB_CHECK2]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_CHECK2](
	[ID] [int] NOT NULL,
	[NOME] [varchar](50) NULL,
	[IDADE] [int] NULL,
	[CIDADE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAB_FATURAMENTO]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_FATURAMENTO](
	[DATA_VENDA] [date] NULL,
	[TOTAL_VENDA] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAB_IDENTITY]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_IDENTITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRITOR] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAB_IDENTITY2]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_IDENTITY2](
	[ID] [int] IDENTITY(100,5) NOT NULL,
	[DESCRITOR] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABELA_DE_ITENS_VENDIDOS]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABELA_DE_ITENS_VENDIDOS](
	[NUMERO] [varchar](5) NOT NULL,
	[CODIGO] [varchar](10) NOT NULL,
	[QUANTIDADE] [float] NULL,
	[PRECO] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABELA_DE_VENDAS]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABELA_DE_VENDAS](
	[NUMERO] [varchar](5) NOT NULL,
	[DATA_VENDA] [date] NULL,
	[CPF] [varchar](11) NOT NULL,
	[MATRICULA] [varchar](11) NOT NULL,
	[IMPOSTO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PADRAO]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PADRAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRITOR] [varchar](20) NULL,
	[ENDERECO] [varchar](20) NULL,
	[CIDADE] [varchar](20) NULL,
	[DATA_CRIACAO] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDORES]    Script Date: 05/06/2023 15:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDORES](
	[MATRICULA] [varchar](5) NOT NULL,
	[NOME] [varchar](100) NULL,
	[BAIRRO] [varchar](50) NULL,
	[COMISSAO] [float] NULL,
	[DATA_ADMISSAO] [date] NULL,
	[FERIAS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_PADRAO] ADD  DEFAULT ('Rio de Janeiro') FOR [CIDADE]
GO
ALTER TABLE [dbo].[TB_PADRAO] ADD  DEFAULT (getdate()) FOR [DATA_CRIACAO]
GO
ALTER TABLE [dbo].[TAB_CHECK]  WITH CHECK ADD  CONSTRAINT [CHK_IDADE] CHECK  (([IDADE]>=(18)))
GO
ALTER TABLE [dbo].[TAB_CHECK] CHECK CONSTRAINT [CHK_IDADE]
GO
ALTER TABLE [dbo].[TAB_CHECK2]  WITH CHECK ADD  CONSTRAINT [CHK_IDADE2] CHECK  (([IDADE]>=(18) AND [CIDADE]='RIO DE JANEIRO' OR [IDADE]>=(16) AND [CIDADE]='SÃO PAULO'))
GO
ALTER TABLE [dbo].[TAB_CHECK2] CHECK CONSTRAINT [CHK_IDADE2]
GO
USE [master]
GO
